@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Lato-Regular;
  src: url("/fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: Montserrat-Regular;
  src: url("/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Syne-Regular;
  src: url("/fonts/Syne-Regular.ttf");
}

@font-face {
  font-family: Syne-ExtraBold;
  src: url("/fonts/Syne-Bold.ttf");
}

main {
  background-color: #31249D;
  color: white; 
}

body {
  background-color: #0C1228;
  color: white; 
}

.navbar {
  background: linear-gradient(0deg, rgba(94, 94, 94, 0.01) 0%, rgba(94, 94, 94, 0.01) 100%), rgba(94, 94, 94, 0.01);
  box-shadow: 0px 0px 59.01402px 10.50935px rgba(0, 0, 0, 0.31);
  backdrop-filter: blur(2.0210278034210205px);
}

.navbutton {
  border-radius: 5px;
  background: var(--babab, linear-gradient(90deg, #A38DF5 36.02%, #FFDCAF 97.57%), #FFF);
}

.main{
  background-image: url("/images/graphic.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}
@media screen and (max-width:700px){
  .main{
    background-position: top center;
  }
  
}

.text-shadow{
  text-shadow: 0px 0px 21px rgba(255, 255, 255, 0.54); 
}

.div_shadow{
  border-radius: 1003px;
  opacity: 0.11;
  background:  linear-gradient(90deg, #A38DF5 36.02%, #FFDCAF 97.57%), #FFF;
  filter: blur(150px);
}

.fill_color{
  fill: linear-gradient(90deg, rgba(163, 141, 245, 0.50) 36.02%, rgba(255, 220, 175, 0.50) 97.57%);
  stroke-width: 1.234px;
  stroke: #FFF;
}


.steps{
  background-image: url("/images/bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.linegradient{
  background: linear-gradient(90deg, #A38DF5 36.02%, #FFDCAF 97.57%), #FFF;
}

.technology{
  background: #0C0E12;
}

.stepbuttons{
  border-radius: 11.303px;
border: 1.5px solid var(--babab, #FFF);
background: linear-gradient(90deg, rgba(163, 141, 245, 0.00) 36.02%, rgba(255, 220, 175, 0.00) 97.57%);
}

.footer{
  background: linear-gradient(0deg, rgba(94, 94, 94, 0.01) 0%, rgba(94, 94, 94, 0.01) 100%), rgba(94, 94, 94, 0.01);
  box-shadow: 0px 0px 59.01402px 10.50935px rgba(0, 0, 0, 0.31);
  backdrop-filter: blur(2.0210278034210205px);
}

.tokenomicstext {
  backdrop-filter: blur(10px);
}

.gradient-text {
  background: linear-gradient(45deg, #A38DF5, #FFDCAF);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.heading1{
  font-family: Lato-Regular;
}

.bodytext{
  font-family: Montserrat-Regular;
}

.syne{
  font-family: Syne-Regular;
}

.syneeb{
  font-family: Syne-ExtraBold;
}